body {background-color: #f7eeee;}
.logo {
    width: 75px;
    height: 75px;
}

h3.title {
    font-size: 24px;
    color:hsl(241, 74%, 46%)
  }


/* a {
    font-size: 14px;
  } */

a.title {
    color:hsl(241, 74%, 46%);
    font-size: 24px;
} 

a.text {
  color:hsl(241, 74%, 46%);
  font-size: 18px;
} 

p.text {
  color:hsl(241, 74%, 46%);
  font-size: 18px;
} 

li {
    font-size: 14px;
}

pre.code_sample {
  font-size: 14px;
  line-height: 1.5;
  padding: 10px;
  background-color: #dfdce6;
  border: 1px solid #ccc;
  border-radius: 4px;
}

div.highlight {
  font-size: 14px;
  line-height: 1.5;
  padding: 10px;
  background-color: #dfdce6;
  border: 1px solid #ccc;
  border-radius: 4px;
}

